.wrapper {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background: rgb(190, 190, 190);
  margin-top: -9rem;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../../assets/profile.jpg");
  background-size: cover;
  background-position-y: center;
  border: 0.5rem solid #fff;
}
